# Debug logging (true/false)
DEBUG=false

# Telegram bot token
TELEGRAM_BOT_TOKEN=

# Chat ID для уведомлений
ADMIN_ID=

# RSS источник
RSS_URL=https://konkretnye-novosti.ru/news/rss/

# Интервал проверки RSS в часах
CHECK_INTERVAL_HOURS=24

# Ключевые слова для фильтрации через запятую
RSS_KEYWORDS=Улица, Район, Микрорайон, Микроулица
